<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" (click)="openDetailsWithQueryParams()">
    Open with Query Params
  </ion-button>

  <ion-button expand="full" (click)="openDetailsWithService()">
    Open with Service
  </ion-button>

  <ion-button expand="full" (click)="openDetailsWithExtraState()">
    Open with Extras
  </ion-button>

  <ion-button expand="full" routerLink='/product'>
    Open with RouterLink
  </ion-button>
</ion-content>